<div class="category-list">
  <h2>Liste des catégories</h2>
  <button class="btn add-button" (click)="addCategory()">Ajouter une catégorie</button>

  <table class="category-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          <button class="btn edit-button" (click)="editCategory(category.id)">Modifier</button>
          <button class="btn delete-button" (click)="deleteCategory(category.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>