<div class="magasin-list">
  <h2>Liste des magasins</h2>
  
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un magasin..." />
    <button class="btn search-button" (click)="searchMagasin()">Rechercher</button>
  </div>

  <button class="btn add-button" (click)="addMagasin()">Ajouter un magasin</button>

  <table class="magasin-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Produit</th>
        <th>Détails</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let magasin of filteredMagasins()">
        <td>{{ magasin.id }}</td>
        <td>{{ magasin.name }}</td>
        <td>{{ magasin.adresse }}</td>
        <td>{{ magasin.produit }}</td>
        <td>{{ magasin.produitdetails }}</td>
        <td>{{ magasin.produitprix }}</td>
        <td>{{ magasin.category_name }}</td>
        <td>
          <button class="btn edit-button" (click)="editMagasin(magasin.id)">Modifier</button>
          <button class="btn delete-button" (click)="deleteMagasin(magasin.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>